body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.center {
    text-align: center;
    border-radius: 1em;
    padding: 1em;
    margin: 0.5em;
    margin-bottom: 0.5em;
    background-image: url('BAKO.jpeg');
    background-size: auto;
}

.center1 {
    text-align: center;
    border-radius: 1em;
    border: 5px solid;
    padding: 1em;
    margin: 0.5em;
    margin-bottom: 0.5em;
}

h4 {
    text-decoration: underline;
}

.pizza {
    border: 5px solid;
    border-radius: 1em;
    padding: 1em;
    margin: 0.5em;
    margin-bottom: 0.5em;
    background-color: #fff;
    text-align: center;
}

.pizza img {
    width: 150px;
    display: block;
    margin: 0 auto;
}

.small_pizza {
    background-color: #ff006e;
    flex: 1;
}

.medium_pizza {
    background-color: #8338ec;
    flex: 1;
}

.large_pizza {
    background-color: #3a86ff;
    flex: 1;
}

.footer {
    /* display: flex; */
    justify-content: space-between;
    padding: 1em;
    margin: 0.5em;
    margin-bottom: 0.5em;
}



input[type="number"] {
    width: 30%;
    margin: 0.5em auto;
    display: block;
}

/* Styles for screens smaller than 600px */
@media screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }
}

/* Styles for screens between 600px and 900px */
@media screen and (min-width: 600px) and (max-width: 900px) {
    body {
        background-color: lightgreen;
    }
}

/* Styles for screens larger than 900px */
@media screen and (min-width: 900px) {
    body {
        background-color: lightyellow;
    }
}